<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
  <div class="well">
    <aside id="search-2" class="widget widget_search">
      <form method="get" class="form-search" action="http://bootstrapbay.com/blog/">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control search-query" value="" name="s" id="s" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-sm btn-default" name="submit" id="searchsubmit" value="Go" style="">
                  <span class="fa fa-search" style="text-align: center;   margin-right: -20px;width: 40px;"></span>
                </button> 
              </span>
            </div>
          </div>
        </div>
      </form>
    </aside>

    <% if false %>
    <!-- Second Aside -->
    <aside id="text-2" class="widget widget_text">
      <div class="textwidget" style="border: 1px solid red;">
        <div class="carbon_ad">
          <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=bootstrapbayblog" id="_carbonads_js"></script>                      
        </div>
      </div>
    </aside>                
    <!-- End of Second Aside -->
    <% end %>
    
    <!-- Third Aside -->
    <aside id="sparkling-social-2" class="widget sparkling-social">
      <h3 class="widget-title margin-top-zero">Follow us</h3>
      <!-- social icons -->
      <div class="social-icons sticky-sidebar-social">
        <div class="social-icons">
          <a href="https://facebook.com/" title="Follow us on Facebok" class="facebook" target="_blank">
            <i class="social_icon fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/" title="Follow us on Twitter" class="twitter" target="_blank">
            <i class="social_icon fa fa-twitter"></i>
          </a>
          <a href="https://plus.google.com/" title="Follow us on Google+" class="googleplus" target="_blank">
            <i class="social_icon fa fa-google-plus"></i>
          </a>
          <a href="http://www.youtube.com/" title="Follow us on Youtube" class="youtube" target="_blank">
            <i class="social_icon fa fa-youtube"></i>
          </a>
          <a href="http://bootstrapbay.com/" title="Follow us on RSS" class="rss" target="_blank">
            <i class="social_icon fa fa-rss"></i>
          </a>
        </div>
      </div><!-- end social icons -->
    </aside>
    <!-- End of Third Aside -->

    <% if @tutorial_details %>
    <!-- Tutorial Details -->
    <aside id="sparkling-social-2" class="widget sparkling-social tutorial_details">

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <h3 class="widget-title margin-top-zero" title="Tutorial Details" alt="Tutorial Details">Tutorial Details</h3>
        </div>
        <div class="col-xs-6 col-md-4">
          <span title="Free Tutorial" alt="Free Tutorial" class="tutorial_type pull-right">Free</span>
        </div>
      </div>

      <div class="detail_title" title="Catergories" alt="Catergories">Catergories:</div>
      <span class="name_box" title="Web Development" alt="Web Development">Web Development</span>
      <span class="name_box" title="HTML" alt="HTML">HTML</span>
      <span class="name_box" title="jquery" alt="jquery">jquery</span>
      <span class="name_box" title="css" alt="css">css</span>
      
      <div class="detail_title" title="Tutorial Level" alt="Tutorial Level" >Tutorial Level:</div>
      <span class="name" title="Intermediate" alt="Intermediate" >Intermediate ( Short Tutorial )</span>

      
      
      <!-- social icons -->
      <div class="detail_title hide" title="Important Links" alt="Important Links" >Important Links:</div>

      <div class="social-icons sticky-sidebar-social">
        <div class="details-icon">
          <p class="social-button">

            <% if @tutorial.github_link.present? %>
              <a class="btn btn-social btn-dropbox btn-small" href="<%=@tutorial.github_link %>" target="_blank" title="Visit Github - <%=@tutorial.title %>"  alt="Visit Github - <%=@tutorial.title %>">
                <i class="fa fa-github"></i> Github
              </a>
            <% end %>

            <% if @tutorial.demo_link.present? %>
              <a class="btn btn-social btn-dropbox btn-small" href="<%=@tutorial.demo_link %>" target="_blank" title="View Demo - <%=@tutorial.title %>" alt="View Demo - <%=@tutorial.title %>">
                <i class="fa fa-github"></i> Demo Link
              </a>
            <% end %>

            <% if @tutorial.video_url.present? %>
              <a class="btn btn-social btn-dropbox btn-small" href="<%=@tutorial.video_url %>" target="_blank" title="View Video - <%=@tutorial.title %>" alt="View Video - <%=@tutorial.title %>">
                <i class="fa fa-file-video-o"></i> Video
              </a>
            <% end %>

            <% if @tutorial.attachment_link.present? %>
              <a class="btn btn-social btn-dropbox btn-small" href="<%=@tutorial.attachment_link %>" target="_blank" title="Download Attachment - <%=@tutorial.title %>" alt="Download Attachment - <%=@tutorial.title %>">
                <i class="fa fa-download"></i> Download
              </a>
            <% end %>

          <p>          

          <% if false and @tutorial.related_link.present? %>
          <a href="<%=@tutorial.related_link %>" title="Related Link - <%=@tutorial.related_link %>" class="googleplus" target="_blank">
            <i class="social_icon fa fa-google-plus"></i> Related Link
          </a>
          <% end %>

        </div>

      </div><!-- end social icons --> 

      <p class="social-button">
        <a class="btn btn-social btn-dropbox btn-lg">
          <i class="fa fa-thumbs-o-up"></i> Do you Like, Click here
        </a>
      </p>
    </aside>
    <!-- End of Tutorial Details -->
    <% end %>

    <!-- Writer Aside -->
    <% if @tutorial_writer %>
      <aside id="wpp-2" class="widget popular-posts writer">
        <h3 class="widget-title margin-top-zero">About <%=@tutorial.user.name%> </h3>
        <ul class="wpp-list">
          <li>
            <p class="writer_intro">
              <a href="#" title="#" target="_self">
                <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/05/SLR-camera1-60x60.jpg" title="#" alt="#" width="50" height="50" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
              </a>
              <%=@tutorial.user.short_introduction %>
            </p>
            <div id="social-bar" class="text-center">
              
              <% if @tutorial.user.follow_facebook.present? %>
                <a href="<%=@tutorial.user.follow_facebook %>" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook" target="_blank"></i></a>
              <% end %>                
              
              <% if @tutorial.user.skype_id.present? %>              
                <a href="<%=@tutorial.user.skype_id %>" class="btn btn-social-icon btn-dropbox" target="_blank"><i class="fa fa-skype"></i></a>
              <% end %>                
              
              <% if @tutorial.user.follow_github.present? %>
                <a href="<%=@tutorial.user.follow_github %>" class="btn btn-social-icon btn-github" target="_blank"><i class="fa fa-github"></i></a>
              <% end %>                
              
              <% if @tutorial.user.follow_facebook.present? %>
                <a class="btn btn-social-icon btn-google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
              <% end %>                
              
              <% if @tutorial.user.follow_linkedin.present? %>
                <a href="<%=@tutorial.user.follow_linkedin %>" class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
              <% end %>                
              
              <% if @tutorial.user.follow_twitter.present? %>
                <a href="<%=@tutorial.user.follow_twitter %>" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <% end %>    

              <% if @tutorial.user.follow_stackoverflow.present? %>
                <a href="<%=@tutorial.user.follow_stackoverflow %>" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-stack-overflow"></i></a>
              <% end %>       
            </div>
          </li>
        </ul>
      </aside>
    <% end %>
    <!-- End of Writer Aside -->
    
    <!-- Fourth Aside -->
    <aside id="wpp-2" class="widget popular-posts">
      <h3 class="widget-title margin-top-zero">Popular Posts</h3>
      <ul class="wpp-list">
        <li>
          <a href="#" title="" target="_self">
            <img src="http://bootstrapbay.com/blog/wp-content/uploads/2014/05/SLR-camera1-60x60.jpg" title="#" alt="" width="60" height="60" class="wpp-thumbnail wpp_cached_thumb wpp_featured">
          </a>
          <a href="#" title="" class="wpp-post-title" target="_self">12 Amazing Sites With Breathtaking Free Stock Photos</a>
          <span class="post-stats"></span>
        </li>
        
      </ul>
    </aside>
    <!-- End of Fourth Aside -->
    
    <!-- Fivth Aside -->
    <aside id="categories-2" class="widget widget_categories">
      <h3 class="widget-title margin-top-zero">Categories</h3>
      <ul>
        <li class="cat-item cat-item-14">
          <a href="http://bootstrapbay.com/blog/category/resources/" title="View all posts filed under Resources">Resources</a> (4)
        </li>
        <li class="cat-item cat-item-7">
          <a href="http://bootstrapbay.com/blog/category/site-news/" title="View all posts filed under Site News">Site News</a> (2)
        </li>
        <li class="cat-item cat-item-8">
          <a href="http://bootstrapbay.com/blog/category/tutorials/" title="View all posts filed under Tutorials">Tutorials</a> (13)
        </li>
        <li class="cat-item cat-item-12">
          <a href="http://bootstrapbay.com/blog/category/web-design/" title="View all posts filed under Web Design">Web Design</a> (9)
        </li>
      </ul>
    </aside>                
    <!-- End of Fivth Aside -->
  </div>
</div>