<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Short Introduction:</b>
  <%= @user.short_introduction %>
</p>

<p>
  <b>Introduction:</b>
  <%= @user.introduction %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Follow twitter:</b>
  <%= @user.follow_twitter %>
</p>

<p>
  <b>Follow linkedin:</b>
  <%= @user.follow_linkedin %>
</p>

<p>
  <b>Follow facebook:</b>
  <%= @user.follow_facebook %>
</p>

<p>
  <b>Follow stackoverflow:</b>
  <%= @user.follow_stackoverflow %>
</p>

<p>
  <b>Follow github:</b>
  <%= @user.follow_github %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
