<div id="primary" class="content-area" style="" >
  <main id="main" class="site-main" role="main">
    <article id="post-1794" class="post-1794 post type-post status-publish format-standard has-post-thumbnail hentry category-resources tag-bootstrap tag-builders tag-editors">
      <div class="blog-item-wrap">
        <a href="http://bootstrapbay.com/blog/bootstrap-editors/" title="7 Bootstrap Editors for Rapid Development of Responsive Websites">
        <img width="95%" height="" src="/assets/blog_detail_image.png" class="single-featured wp-post-image" alt="Bootstrap Editors">
        </a>
        <div class="post-inner-content">
          <header class="entry-header page-header">
            <h1 class="entry-title">
              <a href="/<%=@tutorial.slug%>" rel="bookmark"><%=@tutorial.title%></a>
            </h1>
            <div class="entry-meta">

              <span class="posted-on" alt="Published Date" title="Published Date">
                <i class="fa fa-calendar"></i>
                <a href="#" rel="bookmark">
                  <time class="entry-date published" datetime="<%=@tutorial.created_at %>">
                    <%=DateFormat.change_to(@tutorial.created_at, "LONG_DATE_SHORT")%>
                  </time>
                </a>
              </span>

              <span class="byline" alt="Author : <%=@tutorial.user.name %>" title="Author : <%=@tutorial.user.name %>">
                <i class="fa fa-user"></i>
                  <a class="url fn n" href="#">
                    <%=@tutorial.user.name %>
                  </a>
              </span>

              <% if @tutorial.total_view.present? %>
                <span class="byline" alt="Total View" title="Total View">
                  <i class="fa fa-eye"></i>
                    <%=@tutorial.total_view %>
                </span>
              <% end %>

              <% if @tutorial.vote_up.present? %>
                <span class="byline" alt="Vote Up" title="Vote Up">
                  <i class="fa fa-thumbs-up"></i>
                    <%=@tutorial.vote_up %>
                </span>
              <% end %>

              <% if @tutorial.present? %>
                <span class="comments-link" alt="Comments" title="Comments">
                  <i class="fa fa-comment-o"></i>
                  <a href="#" title="Comment on <%=@tutorial.title%>" data-disqus-identifier="1794 http://bootstrapbay.com/blog/?p=1794">0 Comments</a>
                </span>
              <% end %>


            </div><!-- .entry-meta -->
          </header><!-- .entry-header -->
          
          <div class="entry-content">
            <p><%=@tutorial.content_introduction.present? ? @tutorial.content_introduction.html_safe : "" %></p>

            <p><%=@tutorial.content_main.present? ? @tutorial.content_main.html_safe : "" %></p>

            <p><%=@tutorial.conclusion.present? ? @tutorial.conclusion.html_safe : "" %></p>

            <p class="clearfix hide">
              <a class="btn btn-primary read-more pull-right" href="" title="">Read More</a>
            </p>

          </div><!-- .entry-content -->
        </div>
      </div>
    </article>
  </main>
</div>