<%= form_for @tutorial, :html=> {:id => "buttonGroupForm" } do |f| %>
  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% @tutorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- First Div -->
  <div class="row">
    <div class="col-md-4 form-div">Title<br/>
      <%= f.text_field :title, :class => "col-md-12" %>
    </div>
    <div class="col-md-4 form-div">Mode</br>
      <div class="btn-group" data-toggle="buttons">
        <% @tutorial_mode.each do |tutorial_mode| %>
        <label class="btn btn-primary btn_radio_type <% if @tutorial.mode == tutorial_mode.name%>active <% end %>">
            <input type="radio" name="tutorial[mode]" id="<%=tutorial_mode.name %>" value="<%=tutorial_mode.name %>"> <%=tutorial_mode.name %>
        </label>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 form-div">Time<br/>
      <div class="btn-group" data-toggle="buttons">
        <% @tutorial_time.each do |tutorial_time| %>
          <label class="btn btn-primary btn_radio_type <% if @tutorial.time == tutorial_time.name%>active <% end %>">
              <input type="radio" name="tutorial[time]" id="<%=tutorial_time.name %>" value="<%=tutorial_time.name %>"> <%=tutorial_time.name %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End - First Div -->

  <!-- Second Div -->
  <div class="row">
    <div class="col-md-4 form-div">Primary Category<br/>
      <select class="form-control" name="tutorial[primary_category]" id="tutorial_primary_category">
        <% @primary_category.each do |primary_category| %>
          <option value="<%=primary_category.display_name%>"><%=primary_category.display_name%></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-4 form-div">State<br/>
      <div class="btn-group" data-toggle="buttons">
        <% @tutorial_state.each do |tutorial_state| %>
          <label class="btn btn-primary btn_radio_type <% if @tutorial.state == tutorial_state.name%>active <% end %>">
              <input type="radio" name="tutorial[state]" id="<%=tutorial_state.name %>" value="<%=tutorial_state.name %>"> <%=tutorial_state.name %>
          </label>
        <% end %> 
      </div>
    </div>
    <div class="col-md-4 form-div">Publish Date (yyyy-mm-dd hh:mm)<br/>
      <input id="tutorial_publish_date" class="datepicker_time col-md-8" type="text" size="15" name="tutorial[publish_date]" value="<%=@tutorial.publish_date %>">
    </div>
  </div>
  <!-- End - Second Div -->

  <!-- Third Div -->
    <div class="row">
      <div class="col-md-8 form-div">Categories<br/>
        <%= f.text_field :categories, :class => "col-md-12" %>
      </div>
      <div class="col-md-4 form-div">Tutorial Type<br/>
        <div class="btn-group" data-toggle="buttons">
          <% @tutorial_type.each do |tutorial_type| %>
            <label class="btn btn-primary btn_radio_type <% if @tutorial.tutorial_type == tutorial_type.name%>active <% end %>">
              <input type="radio" name="tutorial[tutorial_type]" id="<%=tutorial_type.name %>" value="<%=tutorial_type.name %>"> <%=tutorial_type.name %>
            </label>
          <% end %>
        </div>
      </div>
    </div>  
  <!-- End - Third Div -->

  <!-- Fourth Div -->
    <div class="row">
      <div class="col-md-12 form-div">Short Introduction for List<br/>
        <%= f.text_area :content_short_introduction, rows: 5, cols: 70 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-div">Content Introduction<br/>
        <%= f.cktext_area :content_introduction, rows: 10 %>
      </div>
    </div>
  <!-- End - Fourth Div -->
  
  <!-- Fifth Div -->
    <div class="row">
      <div class="col-md-12 form-div">Content Main<br/>
        <%= f.cktext_area :content_main, rows: 10 %>
      </div>
    </div>
  <!-- End - Fifth Div -->

  <!-- Sixth Div -->
    <div class="row">
      <div class="col-md-12 form-div">Conclusion<br/>
        <%= f.cktext_area :conclusion, rows: 10 %>
      </div>
    </div>
  <!-- End - Sixth Div -->

  <!-- Seventh Div -->
    <div class="row">
      <div class="col-md-4 form-div">Github Link<br/>
        <%= f.text_field :github_link, :class => "col-md-12" %>
      </div>
      <div class="col-md-4 form-div">Demo Link <br/>
        <%= f.text_field :demo_link, :class => "col-md-12" %>
      </div>
      <div class="col-md-4 form-div">Attachment Link <br/>
        <%= f.text_field :attachment_link, :class => "col-md-12" %>
      </div>
    </div>
  <!-- End - Seventh Div -->

  <!-- Eight Div -->
    <div class="row">
      <div class="col-md-4 form-div">Video URL<br/>
        <%= f.text_field :video_url, :class => "col-md-12" %>
      </div>
      <div class="col-md-8 form-div">Series<br/>
        <% f.text_field :series_id, :class => "col-md-12" %>

        <select class="form-control" name="tutorial[series_id]" id="tutorial_series_id">
          <option value="0"> - Please select -</option>
          <% @series.each do |series| %>
            <option value="<%=series.id%>"  <% if series.id == @tutorial.series_id %>selected<% end %>  ><%=series.name%></option>
          <% end %>
        </select>
        
      </div>
    </div>
  <!-- End - Eight Div -->

  <!-- Eight Div -->
    <div class="row">
      <div class="col-md-12 form-div">Slug<br/>
        <%= f.text_field :slug, :class => "col-md-12 readonly" %>
      </div>
    </div>
  <!-- End - Eight Div -->

  <!-- Ninth Div -->
    <div class="row">
      <div class="col-md-4 form-div"></div>
      <div class="col-md-4 form-div"></div>
      <div class="col-md-4 form-div"><%= f.submit %></div>
    </div>
  <!-- End - Ninth Div -->
<% end %>

<script type="text/javascript">
  $(function() {
    $("#tutorial_publish_date").datepicker();
  });
</script>