<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tutorial.title %>
</p>

<p>
  <b>User:</b>
  <%= @tutorial.user_id %>
</p>

<p>
  <b>Mode:</b>
  <%= @tutorial.mode %>
</p>

<p>
  <b>Time:</b>
  <%= @tutorial.time %>
</p>

<p>
  <b>Primary category:</b>
  <%= @tutorial.primary_category %>
</p>

<p>
  <b>Categories:</b>
  <%= @tutorial.categories %>
</p>

<p>
  <b>State:</b>
  <%= @tutorial.state %>
</p>

<p>
  <b>Publish date:</b>
  <%= @tutorial.publish_date %>
</p>

<p>
  <b>Type:</b>
  <%= @tutorial.tutorial_type %>
</p>

<p>
  <b>Content introduction:</b>
  <%= @tutorial.content_introduction %>
</p>

<p>
  <b>Content main:</b>
  <%= @tutorial.content_main %>
</p>

<p>
  <b>Conclusion:</b>
  <%= @tutorial.conclusion %>
</p>

<p>
  <b>Github link:</b>
  <%= @tutorial.github_link %>
</p>

<p>
  <b>Demo link:</b>
  <%= @tutorial.demo_link %>
</p>

<p>
  <b>Related link:</b>
  <%= @tutorial.related_link %>
</p>

<p>
  <b>Attachment name:</b>
  <%= @tutorial.attachment_name %>
</p>

<p>
  <b>Attachment link:</b>
  <%= @tutorial.attachment_link %>
</p>

<p>
  <b>Video url:</b>
  <%= @tutorial.video_url %>
</p>

<p>
  <b>Vote up:</b>
  <%= @tutorial.vote_up %>
</p>

<p>
  <b>Total view:</b>
  <%= @tutorial.total_view %>
</p>

<p>
  <b>Slug:</b>
  <%= @tutorial.slug %>
</p>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
