<p id="notice"><%= notice %></p>

  <!-- First Div -->
  <div class="row">
    <div class="col-md-4 form-div">Title<br/>
      <%= @tutorial.title %>
    </div>
    <div class="col-md-4 form-div">Author Name</br>
      <%= @tutorial.user.name %>
    </div>
    <div class="col-md-4 form-div">Time<br/>
      <%=@tutorial.time %>
    </div>
  </div>
  <!-- End - First Div -->

  <!-- 2 Div -->
  <div class="row">
    <div class="col-md-4 form-div">Mode<br/>
      <%= @tutorial.mode %>
    </div>
    <div class="col-md-4 form-div">Primary category</br>
      <%= @tutorial.primary_category %>
    </div>
    <div class="col-md-4 form-div">Categories<br/>
      <%=@tutorial.categories %>
    </div>
  </div>
  <!-- End - 2 Div -->

  <!-- 3 Div -->
  <div class="row">
    <div class="col-md-4 form-div">State<br/>
      <%= @tutorial.state %>
    </div>
    <div class="col-md-4 form-div">Publish date</br>
      <%= @tutorial.publish_date %>
    </div>
    <div class="col-md-4 form-div">Type<br/>
      <%=@tutorial.tutorial_type %>
    </div>
  </div>
  <!-- End - 3 Div -->

  <!-- 4 Div -->
  <div class="row">
    <div class="col-md-12 form-div">Content Short Introduction<br/>
      <%= @tutorial.content_short_introduction.html_safe %>
    </div>
  </div>
  <!-- End - 4 Div -->

  <!-- 5 Div -->
  <div class="row">
    <div class="col-md-12 form-div">Content Introduction<br/>
      <%= @tutorial.content_introduction.html_safe %>
    </div>
  </div>
  <!-- End - 5 Div -->

  <!-- 6 Div -->
  <div class="row">
    <div class="col-md-12 form-div">Content Main<br/>
      <%= @tutorial.content_main.html_safe %>
    </div>
  </div>
  <!-- End - 6 Div -->

  <!-- 7 Div -->
  <div class="row">
    <div class="col-md-12 form-div">Conclusion<br/>
      <%= @tutorial.conclusion.html_safe %>
    </div>
  </div>
  <!-- End - 7 Div -->

  <!-- 8 Div -->
  <div class="row">
    <div class="col-md-4 form-div">Github link<br/>
      <%= @tutorial.github_link %>
    </div>
    <div class="col-md-4 form-div">Demo link:</br>
      <%= @tutorial.demo_link %>
    </div>
    <div class="col-md-4 form-div">Type<br/>
      <%=@tutorial.tutorial_type %>
    </div>
  </div>
  <!-- End - 8 Div -->

  <!-- 9 Div -->
  <div class="row">
    <div class="col-md-4 form-div">Related link<br/>
      <%= @tutorial.related_link %>
    </div>
    <div class="col-md-4 form-div">Attachment link:</br>
      <%= @tutorial.attachment_link %>
    </div>
    <div class="col-md-4 form-div">Video url<br/>
      <%=@tutorial.video_url %>
    </div>
  </div>
  <!-- End - 9 Div -->

  <!-- 10 Div -->
  <div class="row">
    <div class="col-md-4 form-div">Vote up<br/>
      <%= @tutorial.vote_up %>
    </div>
    <div class="col-md-4 form-div">Total view:</br>
      <%= @tutorial.total_view %>
    </div>
    <div class="col-md-4 form-div">Slug<br/>
      <%=@tutorial.slug %>
    </div>
  </div>
  <!-- End - 10 Div -->


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
