<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tutorial_type.name %>
</p>

<p>
  <b>Status:</b>
  <%= @tutorial_type.status %>
</p>


<%= link_to 'Edit', edit_tutorial_type_path(@tutorial_type) %> |
<%= link_to 'Back', tutorial_types_path %>
