<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-8">
    <b>Series Name</b><br/>
    <%= @series.name %>
  </div>
  <div class="col-md-4">
    <b>Status</b><br />
    <%= @series.status %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <b>Short Description</b><br/>
    <%= @series.short_description %>
  </div>
</div> 

<div class="row">
  <div class="col-md-12">
    <b>Tag</b><br/>
    <%= @series.tag %>
  </div>
</div>  
<!--
<div class="row">
  <div class="col-md-12">
    <b>slug</b><br/>
    <%= @series.slug %>
  </div>
</div>  
-->
<div class="row">
  <div class="col-md-4">
    <b>Vote Up</b><br/>
    <%= @series.vote_up %>
  </div>
  <div class="col-md-4">
    <b>Total View</b><br />
    <%= @series.total_view %>
  </div>
  <div class="col-md-4">
    <br/>
    <%= link_to 'Edit', edit_series_path(@series) %> | <%= link_to 'Back', series_index_path %>
  </div>
</div>
<hr/>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <b><%= @series.name %></b>    
  </div>

  <!-- List group -->
  <% #@tutorial = Tutorial.where("series_id = ?", @series.id ).order("series.order") %>
  <ul class="list-group">
    <% if !@tutorial_specific_to_series.present? %>
      <li class="list-group-item"> No Such Tutorial is present</li>
    <% end %>

    <% @tutorial_specific_to_series.each do |tutorial_list| %>
      <li class="list-group-item"><%=tutorial_list.tutorial_order %> :: <%=tutorial_list.title%></li>
    <% end %>

  </ul>
</div>